setuptools # used by paddleOCR to install its models and modules
pypdf==4.2.0 # for extracting text from pdf files
pip3-autoremove==1.2.2 # for removing pip packages including dependencies
autopep8==2.3.1 #  tool to check your Python code against some of the style conventions in PEP 8.

# For TTS models
TTS==0.22.0

# torch==2.3.1+cu121 
# torchaudio===2.3.0 # for audio stuff that use torch
# torchvision==0.18.1
# torch==1.8.0+cu101 # for running deep learning models 
# torchvision==0.9.0+cu101 # for pytorch datasets, model architectures, and common image transformations for computer vision. 
# torchaudio===0.8.0 # for audio stuff that use torch

# model for extracting text from image
paddleocr>=2.0.1


